@mixin declare-font-face(
    $font-family,
    $file-path,
    $file-name,
    $weight,
    $format
) {
    @font-face {
        font-family: $font-family;
        src: url('#{$file-path}/#{$file-name}.#{$format}') format('$format');
        font-weight: $weight;
        font-style: normal;
        font-display: swap;
    }
}

@mixin line-clamp($lines: 5) {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: $lines;
    -webkit-box-orient: vertical;
}
