@use '@angular/material' as mat;

$primary-map: (
    50: #e2f4ed,
    100: #b6e3d2,
    200: #86d1b4,
    300: #56be95,
    400: #32b07e,
    500: #0e9f6e,
    600: #0c9766,
    700: #0a8d5b,
    800: #088351,
    900: #04723f,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: rgba(black, 0.87),
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    ),
);

$primary-palette: mat.define-palette($primary-map, 500);

$accent-map: (
    50: #fce4e4,
    100: #f8bcbc,
    200: #f38f8f,
    300: #ee6262,
    400: #ea4040,
    500: #e02424,
    600: #d92020,
    700: #cf1a1a,
    800: #c61515,
    900: #b80c0c,
    contrast: (
        50: rgba(black, 0.87),
        100: rgba(black, 0.87),
        200: rgba(black, 0.87),
        300: white,
        400: white,
        500: white,
        600: white,
        700: white,
        800: white,
        900: white,
    ),
);

$accent-palette: mat.define-palette($accent-map, 500);

$font-path-inter: '/assets/fonts/inter';

$font-weights: (
    thin: 100,
    light: 300,
    regular: 400,
    medium: 500,
    semibold: 600,
    bold: 700,
    extrabold: 800,
    black: 900,
);

$font-family-primary: 'Inter';
$font-family-fallback: sans-serif;

$font-stack: '"#{$font-family-primary}", #{$font-family-fallback}';

$semantics: (
    success: #10b981,
    warning: #f59e0b,
    error: #ef4444,
    info: #3b82f6,
);

// NEUTRAL COLORS
$neutrals: (
    background: #f9fafb,
    surface: #ffffff,
    border: #e5e7eb,
    text-main: rgba(black, 87%),
    text-muted: rgba(black, 60%),
);

$size-xs: 16px;
$size-sm: 18px;
$size-md: 20px;
$size-lg: 24px;
$size-xl: 32px;
$size-2xl: 48px;
$size-3xl: 64px;
