@use '../../../../styles/abstracts' as ds;
@use 'sass:color';

.restaurant-table {
    background-color: ds.get-neutral(surface);
    padding: ds.rem(16);

    .restaurant-address {
        color: ds.get-neutral(text-main);
    }

    .owner-chips {
        display: flex;
        gap: ds.rem(8);
        flex-wrap: wrap;

        .chip {
            background-color: color.adjust(
                ds.get-neutral(background),
                $lightness: -5%
            );
            padding: ds.rem(4) ds.rem(12);
            border-radius: ds.rem(16);
        }
    }
}
