<table mat-table class="restaurant-table" [dataSource]="restaurants">
    <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>RESTAURANT NAME</th>
        <td mat-cell *matCellDef="let element" class="mat-headline-5">
            {{ element.name }}
        </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef>ADDRESS</th>
        <td
            mat-cell
            *matCellDef="let element"
            class="mat-subtitle-2 restaurant-address"
        >
            {{ element.address }}
        </td>
    </ng-container>

    <ng-container matColumnDef="owners">
        <th mat-header-cell *matHeaderCellDef>OWNERS</th>
        <td mat-cell *matCellDef="let element">
            <div class="owner-chips">
                <span class="chip" *ngFor="let owner of element.owners">
                    {{ owner }}
                </span>
            </div>
        </td>
    </ng-container>

    <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef>ACTIONS</th>
        <td mat-cell *matCellDef="let element">
            <app-button
                label="Edit"
                type="button"
                variant="stroked"
                [routerLink]="['edit', element.id]"
                .
                color="primary"
                icon="edit"
            >
            </app-button>
        </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
