@use '../../../../styles/abstracts/variables' as vars;
@use '../../../../styles/abstracts/functions' as fn;

.not-found {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: fn.get-neutral(background);

    &__content {
        text-align: center;
        padding: fn.rem(32);
    }

    &__title {
        font-size: fn.rem(120);
        font-weight: fn.get-font-weight(extrabold);
        // color: map.get(vars.$primary-map, 500); // Uses your primary green
        margin: 0;
        line-height: 1;
    }

    &__subtitle {
        font-size: fn.rem(32);
        font-weight: fn.get-font-weight(bold);
        color: fn.get-neutral(text-main);
        margin: fn.rem(16) 0 fn.rem(8) 0;
    }

    &__description {
        font-size: fn.rem(16);
        color: fn.get-neutral(text-muted);
        margin-bottom: fn.rem(32);
        max-width: fn.rem(400);
    }
}
