@use 'abstracts' as ds;

.stat-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: ds.rem(12);
    width: 100%;
}

@media (max-width: ds.$bp-lg) {
    .stat-list {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: ds.$bp-md) {
    .stat-list {
        grid-template-columns: 1fr;
    }
}
